#stackedit-template {
    position: absolute;
    top: 0;
    width: 96%;
    height: 337px;
    z-index: 1000;
    padding: 20px 2%;
    overflow-y: auto;
    display: none;
}

#stackedit-template::-webkit-scrollbar {
    display:none;
}

/*隐藏文本编辑器和富文本编辑器*/
#content_ifr,
#content {
    display: block;
}